
<!DOCTYPE HTML>
{% load static %}
<html>
<head>
<title>Indian defence research wings | Home :: Defence</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Style Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static "/css/bootstrap.css"%}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="{% static "/fontawesome-free-5.15.1-web/css/all.css"%}" rel='stylesheet' type='text/css' />
<link href="{% static "//fonts.googleapis.com/css?family=Raleway:400,600,700" %}" rel='stylesheet' type='text/css'>
<link href=" {% static "css/style.css"%}" rel='stylesheet' type='text/css' />	
<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>


<!-- animation-effect -->
<link href=" {% static "css/animate.min.css" %} " rel="stylesheet"> 
<script src=" {% static "js/wow.min.js" %}"></script>
<script>
 new WOW().init();
</script>
<!-- //animation-effect -->
</head>
<body>
<div class="header" id="ban">
		<div class="container">
			<div class="head-left wow fadeInLeft animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
				<div class="header-search">
						<div class="search">
							<input class="search_box" type="checkbox" id="search_box">
							<label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
							<div class="search_form">
								<form action="#" method="post">
									<input type="text" name="Search" placeholder="Search...">
									<input type="submit" value="Send">
								</form>
							</div>
						</div>
				</div>
			</div>
			<div class="header_right wow fadeInLeft animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<nav class="link-effect-7" id="link-effect-7">
						<ul class="nav navbar-nav">
							<li class="active act"><a href="\">Home</a></li>
							<li><a href="">India</a></li>
							<li><a href="/asia">Asia</a></li>
							<li><a href="/europe">Europe</a></li>
							<li><a href="/asia">N & S America</a></li>
							{% comment %} <li><a href="music.html">News Beat</a></li> {% endcomment %}
							<li><a href="/broadcast">Broadcast</a></li>
							<li><a href="/aboutus">About</a></li>
							<li><a href="/contact">Contact</a></li>
						</ul>
					</nav>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
			</div>
			<!--
			<div class="nav navbar-nav navbar-right social-icons wow fadeInRight animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
					<ul>
						<li><a href="#"> </a></li>
						<li><a href="#" class="pin"> </a></li>
						<li><a href="#" class="in"> </a></li>
						<li><a href="#" class="be"> </a></li>
						
						<li><a href="#" class="vimeo"> </a></li>
					</ul>
				</div>
				-->
			<div class="clearfix"> </div>	
		</div>
	</div>

    {% block container_block %}


  {% endblock %}
	
<div class="footer">
		<div class="container">
			<div class="col-md-4 footer-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
				<a href="/aboutus"><h4>About Us</h4></a>
				<p> Indian Defence Research Wing in 2018 when Reporting on Defence related issues was not considered much prominence in Mainstream Indian Media.</p>
				<a href="/aboutus"><img src="/static/images/t4.jpg" class="img-responsive" alt=""></a>
					<div class="bht1">
						<a href="/aboutus">Read More</a>
					</div>
			</div>
			<div class="col-md-4 footer-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
				<a href="/"><h4>Latest News</h4></a>
				<p> Indian Defence Research Wing in 2018 when Reporting on Defence related issues was not considered much prominence in Mainstream Indian Media.</p>
				<a href="/"><img src="/static/images/t4.jpg" class="img-responsive" alt=""></a>
					<div class="bht1">
						<a href="/">Read More</a>
					</div>
			</div>
			{% comment %} <div class="col-md-4 footer-middle wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
			<h4>Latest News</h4>
			<div class="mid-btm">
				<p>Sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod .</p>
				<a href="https://w3layouts.com/">https://w3layouts.com/</a>
			</div>
			
				<p>Consectetur adipisicing Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod .</p>
				<a href="https://w3layouts.com/">https://w3layouts.com/</a>
		
			</div> {% endcomment %}
			<div class="col-md-4 footer-right wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
				<h4>Contact Us</h4>
				
						<div class="name">
							<form  action="contact_us" method ="post"   enctype="multipart/form-data">
							{% csrf_token %}  
								<input type="text" name=" yourname" placeholder="Your Name" required="">
								<input type="text" name="youremail"  placeholder="Your Email" required="">
								<input type="text" name=" yourphone" placeholder="Your Phone" required="">
								<input type="text" name="youraddress"  placeholder="Your Address" required="">
								<input type="text" name="details"  placeholder="Enter Details" required="">
								<input type="submit" value="Submit Now">
							</form>
						
						</div>	
						
							<div class="clearfix"> </div>
					
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="copyright wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
				<div class="container">
					<p>© 2020 Defence News. All rights reserved | Design by :Suman</p>
				</div>
			</div>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">

$(document).ready(function(event){

   $('#delete').click(function(){
    return confirm("Are You Sure Want To Delete This Post ?");
});

  $(document).on('click','#like',function(event){
    event.preventDefault();
    var pk = $(this).attr('value');
    $.ajax({
      type:'POST',
      url:"like_post",
      data:{'id':pk, 'csrfmiddlewaretoken':'{{csrf_token}}'},
      dataType: 'json',
      success:function(response){
        $('#like_section').html(response['form'])
        console.log(  $('#like_section').html(response['form']));
      },
      error: function(rs,e){
        console.log(rs.responseText);
      },
    });
  });
});

</script>			
</body>
</html>